@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Montserrat-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.woff2) format('woff2');
}