@import 'header_light';
@import 'footer_light';

body {
  background-color: $main-color-light;
}

.section {
  width: 100%;
  margin-top: 70px;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-top: 140px;
  }
}

.section-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: #080808;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .section-title {
    font-size: 36px;
  }
}

.section-text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #080808;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 648px;
  background-image: url(../images/about-head.png);
  background-position: center;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 383px;
  }
  &__title {
    max-width: 250px;
    text-align: center;
  }
  &__text {
    margin-top: 24px;
    text-align: center;
  }
}

.head__title .section-title,
.head__text .section-text,
.lorem__title .section-title {
  color: #fff;
}

.philosophy {
  &__text-content {
    position: relative;
    z-index: 1;
    max-width: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    max-width: 250px;
  }
  &__text {
    margin-top: 24px;
  }
  &__swiper {
    margin-top: 70px;
  }
}

@media (min-width: 768px) {
  .philosophy .container {
    padding-right: 0;
  }
  .philosophy {
    &__inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &__text-content {
      width: 300px;
      align-items: flex-start;
      text-align: left;
      margin: 0 24px 0 0;
    }
    &__swiper {
      margin-top: 0;
      // container padding - text-content width + text-content margin
      width: calc(100% - 48px - 300px + 24px);
    }
  }
}

@media (min-width: 1024px) {
  .philosophy {
    &__text-content {
      width: 383px;
    }
    &__swiper {
      // container padding - text-content width + text-content margin
      width: calc(100% - 64px - 383px + 40px);
    }
  }
}

@media (min-width: 1440px) {
  .philosophy {
    &__inner {
      padding-left: 200px;
    }
    &__text-content {
      margin: 0 132px 0 0;
    }
    &__swiper {
      // container padding - inner padding - text-cont width + text-cont margin
      width: calc(100% - 64px - 200px - 383px + 132px);
    }
  }
}

.sticky {
  z-index: 2;
}

.swiper {
  width: 100%;
  height: 444px;
}

.philosophy__swiper .swiper-slide {
  width: 552px;
}

// swiper buttons customization
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  top: 120% !important;
  z-index: 2 !important;
}

.swiper-button-prev {
  justify-content: flex-start !important;
  left: 0 !important;
}

.swiper-button-next {
  justify-content: flex-end !important;
  right: 0 !important;
}

@media (min-width: 768px) {
  .swiper-button-next {
    right: 75px !important;
  }
}

// swiper scrollbar customization
.swiper-scrollbar {
  position: absolute !important;
  left: 40px;
  top: 120%;
  z-index: 50;
  height: 1px;
  width: 245px;
  background: rgba(130, 130, 130, 0.32) !important;
}

.swiper-scrollbar-drag {
  background: rgba(130, 130, 130, 0.5) !important;
}

@media (min-width: 430px) {
  .swiper-scrollbar {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .swiper-scrollbar {
    width: 140px;
  }
}

@media (min-width: 1024px) {
  .swiper-scrollbar {
    width: 218px;
  }
}

.lorem .section-title,
.statistic .section-title,
.founder__stat-item .section-title {
  font-size: 36px;
}

@media (min-width: 768px) {
  .lorem .section-title,
  .statistic .section-title,
  .founder__stat-item .section-title {
    font-size: 46px;
  }
}

@media (min-width: 1024px) {
  .lorem .section-title,
  .statistic .section-title,
  .founder__stat-item .section-title {
    font-size: 56px;
  }
}

.statistic {
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  &__image>img {
    width: 100%;
    margin-top: 24px;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__mini-image {
    display: none;
  }
  &__numbers {
    display: grid;
    grid-template-columns: 132px 132px;
    gap: 44px 44px;
    grid-template-areas:
      'a b'
      'c d';
    justify-items: center;
  }
  &__text {
    margin-top: 24px;
    text-align: center;
  }
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

@media (min-width: 768px) {
  .statistic {
    &__image>img {
      margin-top: 50px;
    }
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }
    &__numbers {
      grid-template-columns: 100px 132px;
    }
    &__text {
      width: 330px;
      margin-top: 0;
      text-align: left;
    }
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    justify-self: start;
  }
}

@media (min-width: 1024px) {
  .statistic {
    &__inner {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__image>img {
      margin-top: 0;
    }
    &__content {
      width: auto;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 50px;
    }
    &__numbers {
      gap: 44px 79px;
    }
    &__text {
      width: 382px;
      margin-top: 75px;
    }
  }
}

@media (min-width: 1440px) {
  .statistic {
    &__inner {
      padding-left: 66px;
      justify-content: flex-start;
    }
    &__content {
      position: relative;
      margin-left: 132px;
    }
    &__mini-image {
      display: block;
      position: absolute;
      left: 494px;
      bottom: -140px;
    }
  }
}

.founder__quote .section-text {
  font-size: 20px;
}

.founder {
  &__career {
    margin-top: 24px;
  }
  &__career>p {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4em;
  }
  &__portrait {
    margin-top: 24px;
  }
  &__portrait>img {
    width: 100%;
  }
  &__quote {
    display: flex;
    margin-top: 32px;
  }
  &__quote-symbol {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-weight: 700;
    margin-right: 10px;
  }
  &__statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  &__team {
    display: none;
  }
  &__text {
    margin-top: 24px;
  }
}

@media (min-width: 768px) {
  .founder {
    &__about {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    &__achievements {
      margin-right: 30px;
      width: 70%;
    }
  }
}

@media (min-width: 1024px) {
  .founder {
    &__about {
      flex-direction: column;
      align-items: flex-start;
    }
    &__achievements {
      width: 100%;
      margin-right: 0;
      margin-top: 50px;
    }
    &__career {
      margin-top: 32px;
    }
    &__inner {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    &__intro {
      position: relative;
      padding-top: 60px;
      margin-right: 30px;
    }
    &__portrait {
      margin-top: 0;
    }
    &__quote {
      margin-top: 56px;
    }
    &__statistic {
      margin-top: 0;
      justify-content: flex-start;
      gap: 0 79px;
    }
    &__team {
      display: block;
      margin-top: 164px;
    }
    &__text {
      margin-top: 56px;
      max-width: 516px;
    }
  }
  .founder__quote .section-text {
    max-width: 383px;
  }
}

@media (min-width: 1440px) {
  .founder {
    margin-top: 180px;
    &__achievements {
      margin-top: 100px;
    }
    &__inner {
      justify-content: flex-end;
      padding-right: 82px;
      background-position: 10% 80%;
    }
    &__intro {
      margin-right: 132px;
      position: relative;
    }
    &__quote-symbol {
      position: absolute;
      left: -50px;
      margin-right: 32px;
    }
    &__team {
      position: absolute;
      left: -60px;
    }
  }
}

.lorem__text .section-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.lorem {
  padding: 100px 0;
  background-color: $main-color-dark;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    max-width: 427px;
    margin-top: 18px;
  }
}

@media (min-width: 768px) {
  .lorem {
    padding: 200px 0;
    background-image: url(../images/lorem-bg.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1024px) {
  .lorem {
    padding: 340px 0;
    background-image: url(../images/lorem-bg.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.work .section-title {
  line-height: 1.4em;
}

.work__email-langs a, span {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: $main-color-dark;
}

.work {
  background-color: #ececec;
  padding: 70px 0 90px 0;
  color: $main-color-dark;
  &__button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  &__email-langs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &__form {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: #515151;
    }
  }
  &__info {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    width: 92%;
    background-color: #ececec;
    border: none;
    outline: none;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    &:focus {
      color: #515151;
    }
  }
  &__langs>span {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .work {
    &__do-you-want {
      padding-bottom: 54px;
    }
    &__form {
      width: 350px;
      margin-top: 50px;
    }
    &__info {
      margin-top: 0;
      margin-left: 30px;
      max-width: 285px;
    }
    &__inner {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

@media (min-width: 1024px) {
  .work {
    padding-top: 140px;
    &__form {
      width: 382px;
      margin-top: 80px;
    }
    &__info {
      max-width: 366px;
      margin-left: 100px;
    }
  }
}

@media (min-width: 1440px) {
  .work {
    &__form {
      margin-top: 131px;
    }
    &__info {
      margin-left: 280px;
    }
  }
}

.footer {
  background-color: #ececec;
}