@import 'preloader';
@import 'header_transparent';
@import 'footer_dark';

body {
  background-color: $main-color-light;
}

._lock {
  overflow: hidden !important;
}

.discover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: rgba(49, 49, 49, 0.2);
  }
  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background-color: rgba(49, 49, 49, 0.2);
  }
  &__link {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 8px;
  }
}

.header-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24),
    rgba(0, 0, 0, 0.24)), url(../images/main-page-header-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-color-dark {
  color: #080808;
}

.header-color-dark h1 {
  color: #080808;
}

.header-color-dark .menu__burger-button {
  &::before,
  &::after {
    background-color: #080808;
  }
}

.header-color-dark .button {
  border: 1px solid #080808;
  color: #080808;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.main-section .section-title {
  color: #fff;
}

.main-section {
  padding: 216px 24px 24px 24px;
  &__city-select {
    appearance:none;
    outline: none;
    background-color: transparent;
    background-image: url(../images/city-icon.svg),
      url(../images/arrow-icon.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 14px center, 90% center;
    width: 117px;
    height: 24px;
    padding-left: 28px;
    border: 1px solid #C4C4C4;
    border-radius: 88px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
  }
  &__city-select option {
    color: #000;
  }
  &__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts a {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
  }
  &__discover {
    margin-bottom: 111px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__langs {
    display: none;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
  }
  &__title {
    max-width: 285px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .main-section {
    padding: 383px 48px 32px 48px;
    &__city {
      margin-right: 32px;
    }
    &__contacts {
      justify-content: flex-start;
    }
    &__discover {
      margin-left: 76px;
      margin-bottom: 320px;
    }
    &__info {
      flex-direction: row;
      align-items: center;
      gap: 0 32px;
    }
    &__langs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 15px;
      margin-right: 64px; 
    }
    &__title {
      margin-left: 76px;
    }
  }
}

@media (min-width: 1024px) {
  .main-section {
    padding: 283px 56px 32px 56px;
    &__discover {
      margin-left: 103px;
      margin-bottom: 216px;
    }
    &__title {
      max-width: 440px;
      margin-left: 103px;
    }
  }
}

@media (min-width: 1440px) {
  .main-section {
    padding: 279px 64px 40px 64px;
    &__discover {
      margin-left: 200px;
      margin-bottom: 216px;
    }
    &__title {
      max-width: 500px;
      margin-left: 200px;
      margin-bottom: 52px;
    }
  }
}

.philosophy .discover__link {
  color: #000;
}

.philosophy {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  &__text {
    margin-bottom: 40px;
    &>p:first-of-type {
      margin-bottom: 24px;
    }
  }
  &__text-content-image {
    display: none;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__quote-images {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 80px 0;
  }
  &__quote-image1 {
    width: 131px;
    height: 163px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__quote-image2 {
    width: 264px;
    height: 163px;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__quote-text {
    display: flex;
  }
}

@media (min-width: 768px) {
  .philosophy {
    padding: 104px 124px;
    &__quote-images {
      margin: 64px 0 24px 0;
    }
    &__quote-image1 {
      width: 153px;
      height: 191px;
    }
    &__quote-image2 {
      width: 383px;
      height: 235px;
    }
  }
}

@media (min-width: 1024px) {
  .philosophy {
    padding: 124px 155px;
    &__inner {
      position: relative;
    }
    &__quote {
      display: flex;
      align-items: center;
      gap: 0 22px;
    }
    &__quote-images {
      max-width: 300px;
      margin: 0;
    }
    &__quote-image1 {
      width: 190px;
      height: 237px;
    }
    &__quote-image2 {
      width: 190px;
      height: 117px;
    }
    &__text-content {
      max-width: 448px;
      margin-top: 56px;
      margin-bottom: 96px;
    }
    &__text-content-image {
      display: block;
      position: absolute;
      right: -155px;
      top: 0;
      &>img {
        width: 349px;
        height: 439px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .philosophy {
    padding: 140px 197px;
    &__quote {
      gap: 0 86px;
    }
    &__quote-images {
      height: auto;
      max-width: 500px;
    }
    &__quote-image1 {
      position: static;
      width: 316px;
      height: 393px;
    }
    &__quote-image2 {
      width: 279px;
      height: 172px;
      top: -125px;
    }
    &__quote-text {
      max-width: 430px;
    }
    &__text {
      margin-bottom: 64px;
    }
    &__text-content {
      max-width: 515px;
      margin-top: 80px;
      margin-bottom: 262px;
    }
    &__text-content-image {
      right: -197px;
      &>img {
        width: 513px;
        height: 607px;
      }
    }
  }
}

.project5 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px 0;
  &::before {
    content: none !important;
  }
}

.projects {
  padding: 80px 24px 0 24px;
  background-color: $main-color-dark;
  &__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    z-index: 2;
  }
  &__discover {
    margin-top: 16px;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__more-image {
    width: 121px;
    height: 161px;
  }
  &__more-link {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #080808;
  }
  &__our-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px 0;
  }
  &__project {
    width: 100%;
    height: 327px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%);
    }
  }
  &__text {
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 24px;
  }
}

.projects__project:hover::before {
  content: none;
}

@media (min-width: 768px) {
  .projects {
    padding: 104px 48px 0 48px;
    &__description {
      padding: 26px 32px 38px 32px;
    }
    &__discover {
      margin-top: 24px;
    }
    &__inner {
      align-items: center;
    }
    &__more-image {
      width: 251px;
      height: 331px;
    }
    &__project {
      height: 672px;
    }
    &__text {
      max-width: 455px;
      margin-bottom: 104px;
      text-align: center;
    }
  }
}

@media (min-width: 1024px) {
  .projects {
    padding: 124px 56px 0 56px;
    &__description {
      padding: 32px;
    }
    &__more-image {
      width: 168px;
      height: 223px;
    }
    &__our-projects {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fill, 452px);
      gap: 6px 6px;
      grid-template-areas: 
        'p1 p2'
        'p3 p3'
        'p4 p5';
    }
    &__project {
      height: 452px;
    }
    &__text {
      margin-bottom: 124px;
    }
  }
  .project1 {grid-area: p1;}
  .project2 {grid-area: p3;}
  .project3 {grid-area: p2;}
  .project4 {grid-area: p4;}
  .project5 {grid-area: p5;}
}

@media (min-width: 1440px) {
  .projects {
    padding: 140px 64px 0 64px;
    &__description {
      display: none;
    }
    &__discover {
      display: none;
    }
    &__more-image {
      width: 243px;
      height: 323px;
    }
    &__our-projects {
      grid-template-rows: repeat(auto-fill, 653px);
    }
    &__project {
      height: 653px;
      &::before {
        content: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
      }
    }
    &__text {
      margin-bottom: 140px;
    }
    &__title {
      margin-bottom: 34px;
    }
  }
  .projects__project:hover::before {
    content: '';
  }
  .projects__project:hover .projects__description {
    display: flex;
  }
}

.projects__title .section-title {
  font-size: 20px;
  color: #fff;
}

@media (min-width: 1440px) {
  .projects__title .section-title {
    font-size: 22px;
  }
}

.request {
  padding: 96px 24px;
  background-color: $main-color-dark;
  &__button {
    margin-top: 48px;
  }
  &__inner {
    position: relative;
  }
  &__side-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: rgba(130, 130, 130, 0.35);
    text-transform: uppercase;
    &::after {
      content: '';
      width: 1px;
      height: 57px;
      background-color: rgba(196, 196, 196, 0.2);
    }
    &>p {
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }
  &__text {
    margin-top: 24px;
  }
}

@media (min-width: 768px) {
  .request {
    padding: 124px 48px;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 112px;
      text-align: center;
    }
    &__side-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 13px 0;
    }
  }
}

@media (min-width: 1024px) {
  .request {
    padding: 142px 56px;
    &__button {
      margin-top: 64px;
    }
    &__inner {
      padding: 0 224px;
    }
  }
}

@media (min-width: 1440px) {
  .request {
    padding: 180px 64px;
    background: $main-color-dark
      url(../images/projects-request-bg.png) center no-repeat;
    &__button {
      margin-top: 41px;
    }
    &__content {
      align-self: flex-end;
      max-width: 339px;
    }
    &__inner {
      padding: 0 133px;
      text-align: left;
    }
    &__side-text {
      display: none;
    }
    &__title {
      max-width: 424px;
      align-self: flex-start;
    }
  }
}

.request .button {
  width: 183px;
  height: 48px;
  border: 1px solid #fff;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.request .section-text,
.request .section-title {
  color: #fff;
}

.section-text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #080808;
}

.section-text_grey {
  color: #828282;
}

.section-text_light {
  color: #fff;
}

.section-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: #000;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .section-title {
    font-size: 36px;
  }
}

.section-title_main {
  font-size: 44px;
}

@media (min-width: 1024px) {
  .section-title_main {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .section-title_main {
    font-size: 56px;
  }
}

.section-title_light {
  color: #000;
}

.quote-symbol {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-weight: 700;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .quote-symbol {
    margin-right: 16px;
  }
}

@media (min-width: 1440px) {
  .quote-symbol {
    font-size: 36px;
    margin-right: 32px;
  }
}

.quote-text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #080808;
}