@import 'header_light';
@import 'footer_light';

body {
  background-color: $main-color-light;
}

.articles {
  padding: 0 24px 80px 24px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px 0;
  }
  &__description {
    padding: 24px 24px;
    background-color: #f2f2f2;
  }
  &__descript-photo {
    height: 218px;
  }
  &__discover {
    margin-top: 40px;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 18px;
  }
  &__photo {
    width: 100%;
    height: 327px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(58.55deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 86.75%);
    }
  }
  &__photo-title {
    position: absolute;
    left: 24px;
    bottom: 24px;
  }
  &__text {
    display: none;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: #080808;
  }
  &__title {
    width: 279px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25em;
    color: #080808;
  }
}

@media (min-width: 768px) {
  .articles {
    padding: 0 48px 104px 48px;
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fill, 333px);
      gap: 6px 6px;
      grid-template-areas:
        'a a'
        'b c'
        'd d';
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: calc(50% + 3px);
      padding: 32px 32px;
    }
    &__description-photo {
      display: flex;
      flex-direction: row-reverse;
    }
    &__descript-photo {
      width: calc(50% - 3px);
      height: 333px;
    }
    &__description-photo.article4 {
      flex-direction: row;
    }
    &__pagination {
      margin-top: 56px;
    }
    &__photo {
      height: 333px;
    }
    &__title {
      width: 208px;
    }
  }
  .article1 {
    grid-area: a;
  }
  .article2 {
    grid-area: b;
  }
  .article3 {
    grid-area: c;
  }
  .article4 {
    grid-area: d;
  }
}

@media (min-width: 1024px) {
  .articles {
    padding: 0 56px 124px 56px;
    &__content {
      grid-template-rows: repeat(auto-fill, 453px);
    }
    &__description {
      padding: 46px 64px 46px 46px;
      min-width: 458px;
    }
    &__descript-photo {
      height: 453px;
    }
    &__photo {
      height: 453px;
    }
    &__text {
      display: block;
      max-width: 348px;
      margin-top: 24px;
    }
    &__title {
      width: 273px;
    }
    &__pagination {
      margin-top: 64px;
    }
  }
}

@media (min-width: 1440px) {
  .articles {
    padding: 0 64px 140px 64px;
    &__content {
      grid-template-rows: repeat(auto-fill, 653px);
    }
    &__descript-photo {
      height: 653px;
    }
    &__photo {
      height: 653px;
    }
  }
}

.articles__photo:hover .articles__photo-title{
  display: none;
}

.articles__photo:hover::before {
  content: none;
}

.articles__photo-title .articles__title {
  color: #fff;
  line-height: 1.25;
}

.discover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: rgba(49, 49, 49, 0.2);
  }
  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background-color: rgba(49, 49, 49, 0.2);
  }
  &__link {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #080808;
    margin: 0 8px;
  }
}

.email {
  padding: 70px 0 90px 0;
  color: $main-color-dark;
  &__button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  &__form {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: #515151;
    }
  }
  &__info {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    width: 92%;
    background-color: #ececec;
    border: none;
    outline: none;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    &:focus {
      color: #515151;
    }
  }
}

.header {
  z-index: 5;
}

.our-news {
  padding: 56px 24px 64px 24px;
  &__filter {
    margin-top: 24px;
  }
  &__filter-links {
    display: none;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__link {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #828282;
    margin-right: 28px;
    &:hover {
      color: #080808;
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .our-news {
    padding: 48px 24px 102px 124px;
    &__filter {
      margin-top: 32px;
    }
    &__filter-links {
      display: block;
    }
    &__select {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .our-news {
    padding: 72px 0 110px 159px;
  }
}

@media (min-width: 1440px) {
  .our-news {
    display: flex;
    justify-content: center;
    padding: 118px 0 124px 0;
    &__filter {
      margin-top: 0;
    }
    &__inner {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0 412px;
    }
    &__link {
      font-family: 'Montserrat-SemiBold', sans-serif;
      font-weight: 600;
    }
  }
}

.pagination a {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #080808;
  text-decoration: none;
}

.section-text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #080808;
}

.section-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: #080808;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .section-title {
    font-size: 36px;
  }
}

select {
  appearance: none;
  outline: none;
  background-color: $main-color-light;
  background-image: url(../images/arrow-icon-dark.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  width: 140px;
  height: 29px;
  padding-left: 13px;
  border: 1px solid #C4C4C4;
  border-radius: 88px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #080808;
}