@import 'header_light';
@import 'footer_light';
// button styles are imported with header_light

body {
  background-color: $main-color-light;
}

.discover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  &__link {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 8px;
  }
}

.header {
  z-index: 5;
}

.our-projects {
  padding: 56px 0 64px 0;
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  &__filter {
    margin-top: 24px;
  }
  &__filter-links {
    display: none;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__link {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #828282;
    margin-right: 28px;
    &:hover {
      color: #080808;
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .our-projects {
    display: flex;
    justify-content: center;
    padding: 48px 0 102px 0;
    &__content {
      max-width: 520px;
    }
    &__filter {
      margin-top: 32px;
    }
    &__filter-links {
      display: block;
    }
    &__select {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .our-projects {
    justify-content: flex-start;
    padding: 72px 0 110px 95px;
    &__content {
      max-width: 448px;
    }
  }
}

@media (min-width: 1440px) {
  .our-projects {
    justify-content: center;
    padding: 118px 0 130px 0;
    &__content {
      margin-top: 0;
    }
    &__inner {
      flex-direction: row;
      align-items: flex-start;
    }
    &__link {
      font-family: 'Montserrat-SemiBold', sans-serif;
      font-weight: 600;
      margin-right: 32px;
    }
    &__title {
      margin-right: 359px;
    }
  }
}

.projects {
  &__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    z-index: 2;
  }
  &__discover {
    margin-top: 16px;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px 0;
  }
  &__project {
    width: 100%;
    height: 327px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%);
    }
  }
}

.projects__project:hover::before {
  content: none;
}

@media (min-width: 768px) {
  .projects {
    &__description {
      padding: 26px 32px 38px 32px;
    }
    &__discover {
      margin-top: 24px;
    }
    &__project {
      height: 672px;
    }
  }
}

@media (min-width: 1024px) {
  .projects {
    &__description {
      padding: 32px;
    }
    &__inner {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fill, 452px);
      gap: 6px 6px;
      grid-template-areas: 
        'p1 p2'
        'p3 p3'
        'p4 p5'
        'p6 p6';
    }
    &__project {
      height: 452px;
    }
  }
  .project1 {grid-area: p1;}
  .project2 {grid-area: p3;}
  .project3 {grid-area: p2;}
  .project4 {grid-area: p4;}
  .project5 {grid-area: p5;}
  .project6 {grid-area: p6;}
}

@media (min-width: 1440px) {
  .projects {
    &__description {
      display: none;
    }
    &__discover {
      display: none;
    }
    &__inner {
      // max-width: 1314px;
      grid-template-rows: repeat(auto-fill, 653px);
    }
    &__project {
      height: 653px;
      &::before {
        content: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
      }
    }
  }
  .projects__project:hover::before {
    content: '';
  }
  .projects__project:hover .projects__description {
    display: flex;
  }
}

.projects__title .section-title {
  font-size: 20px;
  color: #fff;
}

@media (min-width: 1440px) {
  .projects__title .section-title {
    font-size: 22px;
  }
}

.request {
  padding: 96px 0 72px 0;
  &__button {
    margin-top: 48px;
  }
  &__inner {
    position: relative;
  }
  &__side-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: rgba(130, 130, 130, 0.35);
    text-transform: uppercase;
    &::after {
      content: '';
      width: 1px;
      height: 57px;
      background-color: rgba(196, 196, 196, 0.2);
    }
    &>p {
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }
  &__text {
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .request {
    padding: 104px 0 87px 0;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 112px;
      text-align: center;
    }
    &__side-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 13px 0;
    }
    &__text {
      margin-top: 24px;
    }
  }
}

@media (min-width: 1024px) {
  .request {
    padding: 124px 0 96px 0;
    &__button {
      margin-top: 64px;
    }
    &__inner {
      padding: 0 224px;
    }
  }
}

@media (min-width: 1440px) {
  .request {
    padding: 180px 0 152px 0;
    background: url(../images/projects-request-bg.png) center no-repeat;
    &__button {
      margin-top: 41px;
    }
    &__content {
      align-self: flex-end;
      max-width: 339px;
    }
    &__inner {
      padding: 0 133px;
      text-align: left;
    }
    &__side-text {
      display: none;
    }
    &__title {
      max-width: 424px;
      align-self: flex-start;
    }
  }
}

.section {
  width: 100%;
}

.section-text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #080808;
}

.section-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: #080808;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .section-title {
    font-size: 36px;
  }
}

select {
  appearance: none;
  outline: none;
  background-color: $main-color-light;
  background-image: url(../images/arrow-icon-dark.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  width: 128px;
  height: 29px;
  padding-left: 13px;
  border: 1px solid #C4C4C4;
  border-radius: 88px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #080808;
}