<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <a href="#">
          <img src="images/logo.png" alt="logo">
        </a>
      </div>
      <div class="menu">
        <div class="menu__navbar">
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link" href="#">Home</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Projects</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">About us</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Blog</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Contacts</a>
              </li>
              <li class="navigation__item btn">
                <button class="button">Send request</button>
              </li>
            </ul>
            <div class="navigation__contacts">
              <div class="navigation__langs">
                <span>Fb</span>
                <span>In</span>
                <span>Be</span>
              </div>
              <div class="navigation__city">
                <select class="navigation__city-select">
                  <option selected value="Berlin">Berlin</option>
                  <option value="Paris">Paris</option>
                </select>
              </div>
              <div class="navigation__info">
                <div class="navigation__phone">
                  <a href="tel:+380935705222">+380935705222</a>
                </div>
                <div class="navigation__email">
                  <a href="mail:info@hi-light.pl">info@hi-light.pl</a>
                </div>
              </div>
            </div>
          </nav>
          <div class="contacts">
            <div class="contacts__langs"></div>
            <div class="contacts__city"></div>
            <div class="contacts__info"></div>
          </div>
          <div class="menu__burger">
            <div class="menu__burger-button"></div>
          </div>
        </div>
        <div class="menu__other">
          <div class="menu__lang"><span>En</span></div>
          <div class="menu__request-button">
            <button class="button">Send request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>