<!DOCTYPE html>
<html lang="en">
<head>
  @@include('../components/head.html', {
    "title": "Contacts",
    "stylesheet": "css/contacts.min.css"
  })
</head>
<body>
  <div class="content">
  @@include('../components/header.html')
    <main class="main">
      <section class="section">
        <div class="container">
          <div class="get-in-touch">
            <div class="get-in-touch__title">
              <h2 class="section-title">Get in touch</h2>
            </div>
            <div class="get-in-touch__text">
              <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere.
              </p>
            </div>
          </div>
          <div class="contact">
            <div class="contact__addresses">
              <address class="contact__item item-1">
                <div class="contact__title">
                  <h3 class="section-subtitle">Kyiv</h3>
                </div>
                <div class="contact__text">
                  <p class="section-text">(209) 555-0104</p>
                  <p class="section-text">6391 Elgin St. Celina,</p>
                  <p class="section-text">Delaware 10299</p>
                </div>
              </address>
              <address class="contact__item item-2">
                <div class="contact__title">
                  <h3 class="section-subtitle">Lviv</h3>
                </div>
                <div class="contact__text">
                  <p class="section-text">(209) 555-0104</p>
                  <p class="section-text">6391 Elgin St. Celina,</p>
                  <p class="section-text">Delaware 10299</p>
                </div>
              </address>
              <address class="contact__item item-3">
                <div class="contact__title">
                  <h3 class="section-subtitle">Kharkiv</h3>
                </div>
                <div class="contact__text">
                  <p class="section-text">(209) 555-0104</p>
                  <p class="section-text">6391 Elgin St. Celina,</p>
                  <p class="section-text">Delaware 10299</p>
                </div>
              </address>
            </div>
            <div class="contact__email-langs">
              <div class="contact__email">
                <a class="contact__link" href="mailto:info@gmail.com">
                  info@gmail.com
                </a>
              </div>
              <div class="contact__langs">
                <span>Fb</span>
                <span>In</span>
                <span>Be</span>
              </div>
            </div>
            <div class="contact__button">
              <button class="button">Make request</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  @@include('../components/footer.html')
  <script src="js/main.min.js"></script>
</body>
</html>