<!DOCTYPE html>
<html lang="en">
<head>
  @@include('../components/head.html', {
    "title": "News",
    "stylesheet": "css/news.min.css"
  })
</head>
<body>
  @@include('../components/header.html')
  <main class="main">
    <section class="section our-news">
      <div class="our-news__inner">
        <div class="our-news__title">
          <h2 class="section-title">Our latest news</h2>
        </div>
        <div class="our-news__filter">
          <select class="our-news__select">
            <option value="All">All</option>
            <option selected value="Blog">Blog</option>
            <option value="News">News</option>
            <option value="Designer advice">Designer advice</option>
          </select>
          <div class="our-news__filter-links">
            <a class="our-news__link" href="#">All</a>
            <a class="our-news__link" href="#">Blog</a>
            <a class="our-news__link" href="#">News</a>
            <a class="our-news__link" href="#">Advice from the designer</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section articles">
      <div class="aricles__inner">
        <div class="articles__content">
          <div class="articles__description-photo article1">
            <div class="articles__descript-photo">
              <img class="articles__image" src="images/eyewear-store1.png"
                alt="store image">
            </div>
            <div class="articles__description">
              <h2 class="articles__title">
                5 smart tips for productive collaboration with the designer
              </h2>
              <div class="articles__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam.
                </p>
              </div>
              <div class="articles__discover discover">
                <a class="discover__link" href="onenews.html">
                  DISCOVER MORE
                </a>
              </div>
            </div>
          </div>
          <div class="articles__photo  article2">
            <img class="articles__image" src="images/minimalyst-style.png"
              alt="minimalyst image">
            <div class="articles__photo-title">
              <h2 class="articles__title">Non-standard<br>plinth options</h2>
            </div>
          </div>
          <div class="articles__photo  article3">
            <img class="articles__image" src="images/rybalsky.png"
              alt="rybalsky image">
            <div class="articles__photo-title">
              <h2 class="articles__title">Interior design,<br>LCD Rybalsky</h2>
            </div>
          </div>
          <div class="articles__description-photo  article4">
            <div class="articles__descript-photo">
              <img class="articles__image" src="images/eyewear-store1.png"
                alt="store image">
            </div>
            <div class="articles__description">
              <h2 class="articles__title">
                5 smart tips for productive collaboration with the designer
              </h2>
              <div class="articles__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam.
                </p>
              </div>
              <div class="articles__discover discover">
                <a class="discover__link" href="onenews.html">
                  DISCOVER MORE
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="articles__pagination pagination">
          <a href="#">
            <img src="images/pagination-prev.svg" alt="previous">
          </a>
          <a href="#">01</a>
          <a href="#">02</a>
          <a href="#">03</a>
          <a href="#">...</a>
          <a href="#">15</a>
          <a href="#">
            <img src="images/pagination-next.svg" alt="next">
          </a>
        </div>
      </div>
    </section>
    <div class="footer-wrapper">
      <section class="section email">
        <div class="email__inner">
          <div class="email__title">
            <h2 class="section-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </h2>
          </div>
          <div class="email__text">
            <p class="section-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam.
            </p>
          </div>
          <div class="email__form">
            <input class="email__input" type="text" placeholder="Email">
            <button class="email__button" type="submit">
              <img src="images/arrow-submit-light.svg" alt="arrow submit">
            </button>
          </div>
        </div>
      </section>
      @@include('../components/footer.html')
    </div>
  </main>
  <script src="js/main.min.js"></script>
</body>
</html>