<!DOCTYPE html>
<html lang="en">
<head>
  @@include('../components/head.html', {
    "title": "One News",
    "stylesheet": "css/onenews.min.css"
  })
  <link rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
  @@include('../components/header.html')
  <main class="main">
    <section class="section article-content">
      <article class="article">
        <div class="article__inner">
          <div class="article__text-content">
            <div class="article__title">
              <h2 class="section-title">
                Antrax IT - Italian factory for the production
              </h2>
            </div>
            <div class="article__text">
              <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam blandit lobortis posuere.
              </p>
            </div>
          </div>
          <div class="article__image-content">
            <img class="article__image" src="images/onenews1.png" alt="image 1">
          </div>
          <div class="article__text-content">
            <div class="article__title">
              <h3 class="section-subtitle">
                Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur. 
              </h3>
            </div>
            <div class="article__text">
              <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam blandit lobortis posuere.
              </p>
              <ol class="ol-text">
                <li class="li-text section-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </li>
                <li class="li-text section-text">
                  Cras vel gravida urna. Donec blandit sapien eu ullamcorper euismod.
                </li>
                <li class="li-text section-text">
                  Nam tempus pellentesque ligula ut aliquam.
                </li>
                <li class="li-text section-text">
                  Donec et ipsum nec quam posuere maximus eu in erat.
                </li>
                <li class="li-text section-text">
                  Duis laoreet finibus consectetur.
                </li>
              </ol>
              <p class="section-text">
                Ut arcu tortor, hendrerit eget sollicitudin sed, tincidunt a lectus. Cras gravida ultricies ante sit amet consectetur. Maecenas sed arcu tempor, posuere odio pharetra, faucibus risus. Etiam fermentum felis quis aliquet viverra. Mauris in odio nec mi pellentesque placerat. Praesent at metus in lacus posuere molestie. Aliquam consequat, neque eget congue feugiat, lectus leo condimentum lorem, scelerisque euismod nisi ipsum nec metus. Mauris semper felis venenatis eros interdum sollicitudin.
              </p>
            </div>
          </div>
          <div class="article__image-content article__image-content_grid">
            <img class="article__image article__image_wide"
              src="images/onenews2.png" alt="image 2">
            <img class="article__image" src="images/onenews3.png" alt="image 3">
            <img class="article__image" src="images/onenews4.png" alt="image 4">
          </div>
          <div class="article__text-content">
            <div class="article__title">
              <h3 class="section-subtitle">
                Duis laoreet finibus consectetur.
              </h3>
            </div>
            <div class="article__text">
              <p class="section-text">
                Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam blandit lobortis posuere:
              </p>
              <ul class="ul-text">
                <li class="li-text section-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </li>
                <li class="li-text section-text">
                  Cras vel gravida urna. Donec blandit sapien eu ullamcorper euismod.
                </li>
                <li class="li-text section-text">
                  Nam tempus pellentesque ligula ut aliquam.
                </li>
                <li class="li-text section-text">
                  Donec et ipsum nec quam posuere maximus eu in erat.
                </li>
              </ul>
              <p class="section-text">
                Mauris eget ornare est. Morbi metus justo, posuere vel semper semper, eleifend ut purus. Morbi cursus consequat nibh, a feugiat felis tempor vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sodales orci nisl, in lacinia risus rhoncus a.
              </p>
            </div>
          </div>
          <div class="article__share">
            <p>Share:</p>
            <a class="article__share-links" href="#">
              <img src="images/share-links.png" alt="share links">
            </a>
          </div>
        </div>
      </article>
    </section>
    <section class="section latest-news"></section>
  </main>
  @@include('../components/footer.html')
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>