<!DOCTYPE html>
<html lang="en">
<head>
  @@include('../components/head.html', {
    "title": "One Project",
    "stylesheet": "css/oneproject.min.css"
  })
</head>
<body>
  <div class="header-wrapper">
    @@include('../components/header.html')
    <section class="section main-section">
      <div class="main-section__inner">
        <div class="main-section__title">
          <h2 class="section-title">
            Residence by the lighthouse
          </h2>
        </div>
        <div class="main-section__text">
          <p class="section-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
          </p>
        </div>
        <div class="main-section__info">
          <div class="main-section__info-item">
            <img class="main-section__icon"
              src="images/oneproject-info-location.svg" alt="location">
            Lodz, Poland
          </div>
          <div class="main-section__info-item">
            <img class="main-section__icon"
              src="images/oneproject-info-calendar.svg" alt="calendar">
            16.10.2018
          </div>
          <div class="main-section__info-item">
            <img class="main-section__icon"
              src="images/oneproject-info-square.svg" alt="square">
            80 sq.m
          </div>
        </div>
        <div class="main-section__share">
          <p>Share:</p>
          <img src="images/oneproject-share-links.svg" alt="share">
        </div>
      </div>
    </section>
  </div>
  <main class="main">
    <section class="section article-content">
      <article class="article">
        <div class="article__inner">
          <div class="article__text-content">
            <div class="article__title">
              <h3 class="section-subtitle">
                Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur.
              </h3>
            </div>
            <div class="article__text">
              <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam blandit lobortis posuere:
              </p>
            </div>
            <div class="article__discover discover">
              <a class="discover__link" href="#">
                DISCOVER MORE
              </a>
            </div>
          </div>
          <div class="article__image-content article__image-content_grid">
            <img class="article__image article__image_wide"
              src="images/oneproject1.png" alt="image one">
            <img class="article__image"
              src="images/oneproject2.png" alt="image two">
            <img class="article__image"
              src="images/oneproject3.png" alt="image three">
            <img class="article__image article__image_wide"
              src="images/oneproject4.png" alt="image four">
          </div>
          <div class="article__button">
            <button class="button">View more photo</button>
          </div>
        </div>
      </article>
    </section>
  </main>
  <script src="js/main.min.js"></script>
  <script>
    let logo = document.querySelector('.header h1');
    burgerMenuBtn.addEventListener('click', () => {
      header.classList.toggle('header-color-dark');
    });
  </script>
</body>
</html>