<!DOCTYPE html>
<html lang="en">
<head>
  @@include('../components/head.html', {
    "title": "Projects",
    "stylesheet": "css/projects.min.css"
  })
  <link rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
</head>
<body>
  @@include('../components/header.html')
  <main class="main">
    <section class="section our-projects">
      <div class="container">
        <div class="our-projects__inner">
          <div class="our-projects__title">
            <h2 class="section-title">Our Projects</h2>
          </div>
          <div class="our-projects__content">
            <div class="our-projects__text">
              <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
              </p>
            </div>
            <div class="our-projects__filter">
              <select class="our-projects__select">
                <option value="House">House</option>
                <option selected value="Apartments">Apartments</option>
                <option value="Commerce">Commerce</option>
                <option value="Architecture">Architecture</option>
              </select>
              <div class="our-projects__filter-links">
                <a class="our-projects__link" href="#">House</a>
                <a class="our-projects__link" href="#">Apartments</a>
                <a class="our-projects__link" href="#">Commerce</a>
                <a class="our-projects__link" href="#">Architecture</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section projects">
      <div class="container">
        <div class="projects__inner">
          <div class="projects__project project1"
            data-url="projectlighthouse.html">
            <img class="projects__image" src="images/residence-lighthouse.png"
              alt="lighthouse">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">Residence by the lighthouse</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="projects__project project2" data-url="pagenotfound.html">
            <img class="projects__image" src="images/eyewear-store1.png"
              alt="store one">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">Eyewear store interior</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="projects__project project3" data-url="pagenotfound.html">
            <img class="projects__image" src="images/minimalyst-style.png"
              alt="minimalyst">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">Minimalist style home</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="projects__project project4" data-url="pagenotfound.html">
            <img class="projects__image" src="images/eyewear-store2.png"
              alt="store two">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">Eyewear store interior</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="projects__project project5" data-url="pagenotfound.html">
            <img class="projects__image" src="images/house-hillside1.png"
              alt="hillside one">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">House on a Hillside</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="projects__project project6" data-url="pagenotfound.html">
            <img class="projects__image" src="images/house-hillside2.png"
              alt="hillside two">
            <div class="projects__description">
              <div class="projects__info">
                <p>Lodz</p>
                <p>16.10.2018</p>
                <p>80 sq.m</p>
              </div>
              <div class="projects__title">
                <h2 class="section-title">House on a Hillside</h2>
                <div class="projects__discover discover">
                  <a class="discover__link" href="projectlighthouse.html">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  @@include('../components/footer.html')
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>